# APP
NEXT_PUBLIC_APP_URL=

# RESEND (Email)
RESEND_API_KEY=

# STORAGE (Cloudflare R2)
STORAGE_BUCKET_NAME=
STORAGE_ACCESS_KEY_ID=
STORAGE_SECRET_ACCESS_KEY=

# PAYMENTS (Razorpay)
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=

# DATABASE (Cloudflare D1)
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_D1_DATABASE_ID=
CLOUDFLARE_API_TOKEN=
